<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testPackage.TestNGDay1">
      	<methods>
      		<include name="demo"/>
      	</methods>
      </class>
      <class name="testPackage.TestNGDay2"/>
    </classes>
  </test> <!-- Test -->
  
<test name="Test 2">
	<classes>
		<class name="testPackage.TestNGDay3">
			<methods>
				<exclude name="Demo5"/>
			</methods>
		</class>
	</classes>
</test>	
</suite> <!-- Suite -->
